<div class="jumbotron jumbotron-custom" style="position: relative;">
    <div class="container-fluid text-center">
        <h1 class="display-4">Harsh Sharma</h1>
        <h5>Full Stack AEM and Web developer</h5>
    </div>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/harsh-sharma-755199138" target = "_blank" class="">
            <img src="logos/linkedin.svg" alt="" width="24px" height="24px" class="rounded-circle me-2">
        </a>
        <a href="https://github.com/darthvader0009" target = "_blank" class="">
            <img src="logos/github-mark-white.png" alt="" width="24px" height="24px" class="rounded-circle me-2">
        </a>
        <a href="https://www.instagram.com/__harsh__sharma__/profilecard/?igsh=cDI2dWpzY2pvZmhh" target = "_blank" class="">
            <img src="logos/instagram.png" alt="" width="24px" height="24px" class="rounded-circle me-2">
        </a>
    </div>
</div>
