<footer class="footer navbar-expand-md border-bottom mb-3">
    <nav class="text-center">
        <!-- <a class="link" href="/"><strong>Home</strong></a>
        <a class="link" href="/portfolio"><strong>Portfolio</strong></a>
        <a class="link" href="/resume"><strong>Resume</strong></a>
        <a class="link" href="/contact"><strong>Contact</strong></a> -->
        <div class="container">
            <ul class="nav justify-content-center">
                <li>
                    <a class="link nav-link" routerLink=""><strong>Home</strong></a>
                </li>
                <li>
                    <a class="link nav-link" routerLink="/portfolio"><strong>Portfolio</strong></a>
                </li>
                <li>
                    <a class="link nav-link" routerLink="/resume"><strong>Resume</strong></a>
                </li>
                <li>
                    <a class="link nav-link" routerLink="/contact"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="footer-icons">
        <a class="link" href="https://github.com/darthvader0009" target="_blank"><img src="logos/github-mark-white.png" alt="" width="24px" height="24px" class="rounded-circle me-2"></a>
        <a class="link" href="https://www.linkedin.com/in/harsh-sharma-755199138" target="_blank"><img src="logos/linkedin.svg" alt="" width="24px" height="24px" class="rounded-circle me-2"></a>
        <a class="link" href="https://www.instagram.com/__harsh__sharma__/profilecard/?igsh=cDI2dWpzY2pvZmhh" target="_blank"><img img src="logos/instagram.png" alt="" width="24px" height="24px" class="rounded-circle me-2"></a>
    </div>
    <p>This site is open source. Contact me to improve this site.</p>
    <p class="text-center">Copyright &copy; 2024 - All rights reserved by Harsh Sharma</p>
</footer>
