<div class="container" style="margin-top: 2%;">
        <div class="contact-block text-center border mb-5 shadow rounded">
            <h1>Contact</h1>
            <p>I can be reached at: <b>harshsharma0009&#64;gmail.com</b></p>
            <p>Please feel free to connect with me on any of the below platforms:</p>
        </div>
        <div class="list-group shadow" style="margin-bottom: 10%;">
            <a href="https://www.linkedin.com/in/harsh-sharma-755199138" target = "_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="logos/linkedin.svg" alt="" width="40px" height="40px" class="rounded-circle flex-shrink-0 me-5">
                <h3 class="mb-0">LinkedIn</h3>
            </a>
            <a href="https://github.com/darthvader0009" target = "_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="logos/github-mark.png" alt="" width="40px" height="40px" class="rounded-circle flex-shrink-0 me-5">
                <h3 class="mb-0">GitHub</h3>
            </a>
            <a href="https://www.instagram.com/__harsh__sharma__/profilecard/?igsh=cDI2dWpzY2pvZmhh" target = "_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="logos/instagram.png" alt="" width="40px" height="40px" class="rounded-circle flex-shrink-0 me-5">
                <h3 class="mb-0">Instagram</h3>
            </a>
        </div>
</div>