<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 mt-5 shadow border">Download PDF resume.</button>
    <accordion>
        <accordion-group heading="Work Experience">
            <div style="text-align: left;">
                <h2 class="mb-0">Senior Systems Engineer/Web Developer</h2>
                <h3 class="text-prmary">Infosys Ltd.</h3>
                <ul>
                    <li>Served as a UI & AEM resource on a Project for Rite Aid Corporations.</li>
                    <li>Actively worked on both client-side and server-side development with a focus on performance optimization and security.</li>
                    <li>Developed features for Rite Aid's website allowing users to check prescriptions, refill them, and register for vaccination appointments <a href="https://www.riteaid.com/pharmacy/scheduler" target="_blank">(Rite Aid Scheduler Component, </a><a href="https://www.riteaid.com/pharmacy/refill-prescriptions" target="_blank">Refill Prescriptions)</a></li>
                    <li>Actively involved in UI development for a critical COVID-19 scheduler component at Rite Aid (United States).</li>
                    <li>The project used AEM combined with HTML, jQuery, HandlebarJS and CSS in Front End.</li>
                    <li>While doing so, acquired proficiency in advanced concepts such as OSGI (Apache Felix), Apache Sling Framework, Sling Models, Clientlibs, Maven Archetype Build System, Dispatcher, configuring Apache HTTD, Web Server, and Servlets, dialog and template level content policies, enabling effective customization and extension of AEM functionalities.</li>
                    <li>Extensive experience with AEM 6.5, AEM Components Development, and integrating Dialogs, HTL/Sightly, Sling Models</li>
                    <li>Worked with AEM Templates, Editable Templates, Experience Fragments, Dispatcher configuration, and Content Fragments to ensure a seamless authoring experience</li>
                    <li>Implemented Sling Servlets, Sling Services, Event Handlers & Listeners, Sling Model Exporters, Vanity URLs, and Sling Schedulers for custom business logic in AEM.</li>
                    <li>During this project acquired understanding of CI/CD pipelines, Azure DevOps, Jira, Jenkins, Git and automation testing practices.</li>
                    <li>Worked in an agile environment by attending daily scrum meetings, sprint retrospective, demos, sprint planning and by taking up tasks, features and user stories</li>
                    <li>Managed high-pressure workloads and contributed to over 10 production releases at Ford UK and more than 50 releases at Rite Aid.</li>
                </ul>
            </div>
        </accordion-group>
        <accordion-group heading="Education">
            <div style="text-align: left;">
                <h2 class="mb-0">Post Graduate Diploma in Supply Chain Managment - Global Logistics</h2>
                <h3 class="text-prmary">Seneca College, Canada</h3>
                <ul>
                    <li>Graduated from Seneca College in April 2024.</li>
                    <li>Graduated with a 3.4 GPA</li>
                    <li>Got an understanding of the following topics - Managing global supply chains, logistics operations, procurement, and optimizing the flow of goods and services.</li>
                </ul>
            </div>

            <div style="text-align: left;">
                <h2 class="mb-0">Post Graduate Diploma in Project Management - IT</h2>
                <h3 class="text-prmary">Seneca College, Canada</h3>
                <ul>
                    <li>Graduated from Seneca College in September 2023.</li>
                    <li>Graduated with a 3.7 GPA</li>
                    <li>Got an understanding of the following topics - Project Leadership, SDLC, Scrum Fundamentals, Agile Methodology, Quality Assurance, Systems Development, Risk Management, Project Control Procedures, Accounting and finance, Contract Law & Ethics</li>
                    <li>Participated in Co-curricular activities like playing badminton, table-tennis, group activities like debates, etc.</li>
                </ul>
            </div>
            
            <div style="text-align: left;">
                <h2 class="mb-0">Bachelor Of Engineering - Mechanical</h2>
                <h3 class="text-prmary">Sant Longowal Institute of Engineering & Technology, India</h3>
                <ul>
                    <li>Graduated from SLIET in May 2019.</li>
                    <li>Graduated with a 8.04/10 GPA</li>
                    <li>Led Brakes and Steering department of college's team Juggernauts and participated in National Level Go-kart competitions. Got an understanding of computer aided design softwares like AutoDesk, Ansys.</li>
                </ul>
            </div>
        </accordion-group>
        <accordion-group heading="Certifications">
            <div style="text-align: left;">
                <h3 class="text-prmary">Adobe Experience Manager (AEM) Sites Developer Expert</h3>
                <ul>
                    <li><h6>Issued by - Adobe</h6></li>
                    <li>Obtained January, 2024</li>
                    <li> Credentials ID - 05GZPXBK1N11QH9P</li>
                    <li><a href="https://www.credly.com/badges/382126e0-9bb9-42e2-a565-f10834d91c13/linked_in_profile" target="_blank">See Credential</a></li>
                </ul>
            </div>

            <div style="text-align: left;">
                <h3 class="text-prmary">Scrum Fundamentals Certified (SFC™)</h3>
                <ul>
                    <li><h6>Issued by - SCRUMstudy</h6></li>
                    <li>Obtained April 27, 2023</li>
                    <li> Credentials ID - 976343</li>
                    <li><a href="https://www.scrumstudy.com/certification/verify?type=SFC&number=976343" target="_blank">See Credential</a></li>
                </ul>
            </div>

            <div style="text-align: left;">
                <h3 class="text-prmary">Fundamentals of Agile Project Management</h3>
                <ul>
                    <li><h6>Issued by - Project Management Institute</h6></li>
                    <li>Obtained July 06, 2023</li>
                    <li><a href="https://www.credly.com/badges/9b42fd9e-26d8-45f2-9d5c-46af98876d89" target="_blank">See Credential</a></li>
                </ul>
            </div>

            <div style="text-align: left;">
                <h3 class="text-prmary">JavaScript Essentials Training</h3>
                <ul>
                    <li><h6>Issued by - Linkedin Learning</h6></li>
                    <li>Obtained January 24, 2024</li>
                    <li><a href="https://www.linkedin.com/learning/certificates/fb413f9019d222f8db6247a1043aa365443cb90c40c4b04b53ee084159ef29d7?u=2169170" target="_blank">See Credential</a></li>
                </ul>
            </div>

            <div style="text-align: left;">
                <h3 class="text-prmary">React.js Essentials Training</h3>
                <ul>
                    <li><h6>Issued by - Linkedin Learning</h6></li>
                    <li>Obtained February 5, 2024</li>
                    <li><a href="https://www.linkedin.com/learning/certificates/040dfb21e47619f1b5f3c2fba8ec3e69e907831e085ba73211f826c2fdffb280?u=2169170" target="_blank">See Credential</a></li>
                </ul>
            </div>
        </accordion-group>
        <accordion-group heading="Technical Skills"></accordion-group>
        <accordion-group heading="Extra-curricular/Recreational Activities"></accordion-group>
    </accordion>
</div>
