/* You can add global styles to this file, and also import other style files */
.container{
    max-width: 1140px;
}

.tag{
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}


/* Customizing the Previous arrow */
.carousel-control-prev-icon {
    background-image: url('/logos/leftIcon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; /* Adjust as necessary */
    height: 50px;
}

/* Customizing the Next arrow */
.carousel-control-next-icon {
    background-image: url('/logos/rightIcon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; /* Adjust as necessary */
    height: 50px;
}