<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg-6 shadow border p-3">
            <div class="text-center">
                <h2 style="margin-top: 2%;">About me</h2>
                <img src="/Harsh.jpg" alt="Profile Picture" width="256" height="256" class="rounded-circle">
                <p class="about">
                    <em>
                        I am an Adobe Certified Expert AEM Developer with over 3 years of hands-on experience in AEM 6.5 development. 
                        My expertise includes working with AEM architecture, Sightly (HTL), 
                        JSP, Sling Models, Servlets (including OSGI), Dispatcher configurations, and front-end technologies like JavaScript, jQuery, HTML, and CSS.
                    </em>
                </p>
                <p class="about">
                    <em>I have a strong background in CI/CD pipelines and Azure DevOps, and I have consistently worked in Agile environments following SCRUM methodologies. 
                        I have successfully integrated AEM with Single Page Applications (SPA) frameworks such as Angular and React. 
                    </em>
                </p>
                <p class="about">
                    <em>
                        Additionally, I have been trained in the MEAN stack and possess working knowledge of headless CMS and AEM as a Cloud Service (AEMaaCS). 
                        My experience extends to AEM Multi-Site Management (MSM), where I have created and maintained live copies, language copies, and blueprints. 
                    </em>
                    
                </p>
            </div>
        </div>
        <div class="col-lg-6 shadow border p-3">
            <div class="text-center">
                <h2>Featured Project</h2>
                <hr>
                <h3>{{featuredProject.name}}</h3>
                <br><br><br>
                <carousel class="carousel-component">
                    <div *ngFor="let picture of featuredProject.pictures">
                      <slide><img src= {{picture}} alt="image1"/></slide>
                    </div>
                </carousel>
                <br><br>
                <p class="mt-2 about" style="text-align: center;"><em>{{featuredProject.summary}}</em></p>
                <p class="mt-2 about" style="text-align: center;"><em>Visit the <a class = 'text-primary' routerLink="/portfolio">portfolio</a> section to learn more.</em></p>
            </div>
        </div>
    </div>
</div>