<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <img src="/Harsh.jpg" alt="Profile Picture" width="256" height="256" class="rounded-circle">
                <p>
                    Adobe Certified Expert AEM Developer with 3 years of experience in AEM development using AEM 6.5. Experience in working with AEM architecture, Sightly (HTL), JSP, Sling Models, Servlets, OSGI Servlets, Dispatcher Configurations, JavaScript, jQuery, HTML, CSS. Experienced with CI/CD pipelines, Azure DevOps, and working in Agile environment using SCRUM principles.
                    Hands-on experience in integrating AEM with SPA like Angular and React. Trained in MEAN stack. Working knowledge of headless CMS and AEMaaCS. Experienced in using AEM Multi-Site Management (MSM) to develop Live copies, Language copies and Blueprints. Strong experience with the usage of Digital Asset Management (DAM) and Dispatcher for caching and load balancing.
                    During my previous role as a Senior System Engineer at Infosys, I worked for clients like Ford UK and Rite Aid Corporations. I helped develop and maintain their websites using CMS tools like Adobe Experience Manager, and contributed to the project delivery on time and within budget.
                </p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>